# You can override the included template(s) by including variable overrides
# SAST customization: https://docs.gitlab.com/ee/user/application_security/sast/#customizing-the-sast-settings
# Secret Detection customization: https://docs.gitlab.com/ee/user/application_security/secret_detection/#customizing-settings
# Dependency Scanning customization: https://docs.gitlab.com/ee/user/application_security/dependency_scanning/#customizing-the-dependency-scanning-settings
# Container Scanning customization: https://docs.gitlab.com/ee/user/application_security/container_scanning/#customizing-the-container-scanning-settings
# Note that environment variables can be set in several places
# See https://docs.gitlab.com/ee/ci/variables/#cicd-variable-precedence
stages:
- static
- build
- test
- publish

sast:
  stage: static
include:
- template: Security/SAST.gitlab-ci.yml


image: node:16

build:
  stage: build
  tags:
    - docker
  script:
    - yarn install --frozen-lockfile
    - yarn build
  artifacts:
    paths:
    - dist
    - node_modules

test:
  stage: test
  tags:
    - docker
  script:
    - yarn test --ci --reporters=default --reporters=jest-junit
  artifacts:
    when: always
    reports:
      junit:
        - junit.xml

publish:
  stage: publish
  rules:
    - if: '$CI_COMMIT_TAG'
  tags:
    - docker
  script:
    - yarn pack
    - echo '//registry.npmjs.org/:_authToken=${NPM_TOKEN}' > .npmrc
    - yarn publish --new-version ${CI_COMMIT_TAG} --access public